* {
  box-sizing: border-box;
}

body {
  background-color: #e9ebee;
}

.search-result {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  background-color: white;
}

img {
  float: left;
  margin: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center h1,
.center h2,
.center p,
.center form {
  text-align: center;
}